<!doctype html>
<html lang="fr">
	<head>
    <meta charset="utf-8">
</head>
    <title>Suivi</title>
    <center>
        <h1 style="color:green">Suivez l'avancée de votre colis!</h1>
        <h2>{{ tracking_verified}}</h2>
            <form method="POST">
                <label>
            <input type="search" name="EmailUser" placeholder="Email" class="wpcf7-form-control wpcf7-text">
        </label> <br>
        <button type="submit" value="Rechercher" class="wpcf7-form-control wpcf7-submit"> Rechercher </button>

        <div>
        <b>
            <p>
                {{ error_mail }}
            </p>
        {% if status == 200 %}
            <p>
                {% if wait_reception != None %}
                    <p>
                    <img src="{{ image_waitreception }}">
                    </p>
                {% endif %}
            </p>
            <p>
                {% if received != None %}
                    <p>
                    <img src="{{ image_received }}">
                    </p>
                {% endif %}
            </p>
            <p>
                {% if meeting_fixed != None %}
                    <p>
                    <img src="{{ image_meetingfixed }}">
                    </p>
                {% endif %}
            </p>
            <p>
                {% if delivered_to_client != None %}
                    <p>
                    <img src="{{ image_delivered }}">
                    </p>
                {% endif %}
            </p>
            <p>
                {% if order_canceled != None %}
                    <p>
                    <img src="{{ image_canceled }}">
                    </p>
                {% endif %}
            </p>
        </b>
        </div>

            <div>

            <p>
                <b>Nom de votre relais:</b> {{ relayName }}
            </p>
            <p>
                <b>Adresse relais :</b> {{ relayAddress }}
            </p>
                <p>
                    <b>Maps: </b> {{ relayMaps }}
                </p>
                 <p>
                <b>Rendez-vous:</b> {{ result_meeting }}<br>
                {{ change_meeting }}
            </p>
                   {% endif %}
        </div>


            </form>
    </center>

</html>
